extends ../templates/layout.pug

include ../components/header
include ../components/block-1
include ../components/block-2

mixin employee({name, title, linkedInUrl, imageSrc})
  .space-y-2
    .flex.items-center.space-x-4
      .uppercase.text-xl= name
      a(href=linkedInUrl target="_blank" class="text-white-off/80 hover:text-white-off")
        i.fab.fa-linkedin
    if title
      .whitespace-nowrap(class="text-white-off/50")= title
    if imageSrc
      img.w-full(src=imageSrc)

block variables
  - var title = 'Who is Emerald'

block content
  .px-8.mt-8.w-full.max-w-6xl.mx-auto
    +block-1
      +header Our Team
      .mt-4.space-y-8(class="md:flex md:space-y-0 md:space-x-16")
        +employee({
          name: 'Baxter Moffitt',
          title: 'Co-CEO and Founder',
          linkedInUrl: 'https://www.linkedin.com/in/baxter-moffitt-84b363171/',
          imageSrc: require('Images/baxter.png')
        })
        +employee({
          name: 'Shane Stoffer',
          title: 'Co-CEO and Founder',
          linkedInUrl: 'https://www.linkedin.com/in/shanestoffer/',
          imageSrc: require('Images/shane.png')
        })

    +block-2.mt-8.space-y-8
      +header Blockchain Development Team
      .text-3xl.font-black Winjit INC
      .flex.flex-col.space-y-8(class="md:flex-row md:items-center md:justify-around md:space-x-8 md:space-y-0")
        - 
          var devs = [
            {name: 'Kevin Paul', linkedInUrl: 'https://www.linkedin.com/in/kbpaul', title: 'Business development representative'},
            {name: 'Vignesh Iyer', linkedInUrl: 'https://www.linkedin.com/in/vigneshi', title: 'Blockchain Developer'},
            {name: 'Vishal Waman', linkedInUrl: 'https://www.linkedin.com/in/vishal-waman-7307b522', title: 'Blockchain Developer'},
          ]

        each dev in devs
          +employee(dev)
      
      img.w-full.max-w-3xl.mx-auto(src=require('Images/winjit.jpg'))

      div.
        Winjit has been an Emerging Tech company since 2004 which
        specializes in Internet of Things (IoT), AI/ML, Computer Vision,
        and since 2016, Blockchain Development. Since the inception in 2016,
        Winjit's Blockchain Development Team has finished 85+ projects
        including DApps, DAOs, NFTs, Marketplaces, Web 3 Plugins,
        Delegated Staking, Node as a Service, Smart Contracts and more.
        With a full stack development team and an award winning UI/UX app and
        website design team, Winjit has experience in the blockchain development languages
        Solidity, Rust and Haskell. Winjit has consistently demonstrated Thought Leadership
        across different blockchain protocols and ecosystems. To get more information, reach
        out to Kevin Paul on LinkedIn to learn about other projects Winjit has completed.
